-var links = [{name:'Languaje', url:'#'},{name:'Currency', url:'#'},{name:'My Account', url:'#'}]

-var tablinks = [{name:'HOME', url:'#'},{name:'CONTACT US', url:'#'}]

-var h2small = "<small>27/11/2015</small>"

-var textlorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iusto praesentium autem aperiam quos, minima, quod quae nulla eius ipsam id, repudiandae illo ab alias perferendis magni. Sequi incidunt, iste."

-var footerlist1 = [{name:'My Account', url:'#'},{name:'Order History', url:'#'},{name:'Wish List', url:'#'},{name:'Newsletter', url:'#'}]

-var footerlist2 = [{name:'About Us', url:'#'},{name:'Delivery Information', url:'#'},{name:'Privacy Policy List', url:'#'},{name:'Terms & Conditions', url:'#'}]

-var footerlist3 = [{name:'Brands', url:'#'},{name:'Gift Vouchers', url:'#'},{name:'Afiliates', url:'#'},{name:'Specials', url:'#'}]