header#header
	.container
		.row
			.col-sm-6
				p.firstlink Default Welcome Msg!
			.col-sm-6
				ul.nav.nav-pills.navbar-right
					each link in links
						li.firstlink
							a.active(href='#{link.url}') #{link.name}
	div#mainlogo
		.container
			.row
				.col-sm-4
					span.time OPENING TIME
					br
					span 9.00 AM - 10.00 PM
				.col-sm-4
					img(src="assets/images/logo.png")
				.col-sm-4
					.input-group
						input.form-control(type="text" placeholder="search" aria-describedby="basic-addon1")
						span#basic-addon1.input-group-addon
							a.fa.fa-search