section#main_content
	#mainNav
		.container
			ul.nav.nav-tabs
				li.active
					a(href="#main_home" data-toggle="tab") HOME
				li
					a(href="#contactus" data-toggle="tab") CONTACT US
	.tab-content
		include hometab
		include contactustab