include views/helpers/variables
include views/helpers/mixins
doctype html
html(lang="en")
	head
		include views/head
	body
		include views/header
		include views/maincontent
		include views/footer
	script(type='text/javascript', src='assets/js/jquery.js')
	script(type='text/javascript', src='assets/js/bootstrap.min.js')
